body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-weight: 200;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
}

.aside__nav {
  background-color: red;
  height: 100%;
  width: 150px;
  display: none;
}

.nav__select {
  display: flex;
  align-items: center;
}

.nav__select button {
  margin-right: 30px;
}

.catalog {
  margin: 0 auto;
  background-color: rgb(248, 249, 250);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 30px;
  margin-bottom: 20px;
}

.catalog__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 330px;
  max-height: 500px;
  flex: 1 280px;
  border: 2px rgb(231, 232, 238) solid;
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 5px;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}

select {
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: rgb(97, 213, 223);
  background-image: linear-gradient(to bottom, #e5e5e5, #f4f4f4);
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
  outline: none;
}

.catalog__product:hover {
  border: rgb(97, 213, 223) 3px solid;
  border-radius: 8px;
}

.catalog__image {
  height: 200px;
}
.catalog__image img {
  width: 100%;
  height: 100%;
}

.catalog__text {
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: center;
  border-bottom: 2px rgb(231, 232, 238) solid;
}

.catalog__text h2 {
  text-align: center;
}

.catalog__text h2 {
  padding-bottom: 10px;
}

.catalog__prices {
  padding: 10px 0px;
}

.header {
  margin: 20px 0px;
}

.nav {
  display: flex;
  justify-content: space-around;
}

#searchQuery {
  width: 300px;
  height: 15px;
  padding: 5px;
  border: 2px solid rgb(239, 239, 241);
  border-radius: 5px;
  outline: none;
}

#buttonQuery {
  margin: 0 5px;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav__button {
  background-color: rgb(97, 213, 223);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(97, 213, 223);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
